<section>
      <div class="container mt-5 mb-5">
        <div class="row">
          {{#each products}}
            <div class="col-12 col-md-6 col-lg-3 mt-4"  >
              <div class="card bg-light p-2 text-center lh-sm" style="width: 18rem">
                <img style="width:17em;height:auto;"  src="../product-images/{{this._id}}.jpg" class="img-fluid card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title fs-4">{{this.name}}</h5>
                  <p class=" fw-bold fs-4 card-text">₹ {{this.price}}</p>
                  <a onclick="alertme()" href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
</section>